.venv/*
instance/crm.db
routes/__pycache__/__init__.cpython-311.pyc
routes/__pycache__/customer.cpython-311.pyc
routes/__pycache__/dashboard.cpython-311.pyc
routes/__pycache__/sales.cpython-311.pyc
__pycache__/app.cpython-311.pyc
__pycache__/models.cpython-311.pyc
tests/__pycache__/__init__.cpython-311.pyc
tests/__pycache__/conftest.cpython-311-pytest-8.4.2.pyc
tests/__pycache__/test_app.cpython-311-pytest-8.4.2.pyc
