{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Sales</h2>
    <a href="{{ url_for('sales.add_sale') }}" class="btn btn-primary mb-3">Add Sale</a>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Produt</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.customer.name }}</td>
                <td>{{ sale.product }}</td>
                <td>{{ sale.amount }}</td>
                <td>{{ "%.2f"|format(sale.price) }} ₺</td>
                <td>{{ sale.date.strftime("%d.%m.%Y") }}</td>
                <td>
                    <form action="{{ url_for('sales.delete_sale', sale_id=sale.id )}}" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Are you sure you want to delete this record?');">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6" class="text-center">There is no sale at this moment.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
